.max-w-3xl{
max-width: 70rem;
}

button [aria-label="Scroll to bottom"], div[data-testid="chat-input-grid-container"]
{opacity: 1;
transition: opacity 0.3s ease-in;}

button [aria-label="Scroll to bottom"]:hover, 
div[data-chat-input-container="true"] > 
div[data-testid="chat-input-grid-container"]:hover
{opacity: 0;
}

/* Keep visible while typing */
div[data-chat-input-container="true"]:focus-within 
div[data-testid="chat-input-grid-container"] {
  opacity: 1 !important;
}

button [aria-label="Scroll to bottom"]:focus, 
div[data-chat-input-container="true"] > 
div[data-testid="chat-input-grid-container"]:focus
{opacity: 1 !important;
}

#command-palette-results > div[aria-label="Actions"]
{display: none;}
