.notion-table-view-cell div, .notion-table-view-cell span {font-size: 8px !important;}
.notion-table-view-cell[data-col-index="3"] div, .notion-table-view-cell[data-col-index="3"] span {font-size: 11px !important;}

div.notion-table-view-cell[data-col-index="0"], div.notion-table-view-cell[data-col-index="1"], div.notion-table-view-cell[data-col-index="2"] {width: 70px !important; max-width: 90px !important;}


div.notion-table-view-cell[data-col-index="3"] {max-width: 330px !important;}


div[contenteditable="false"][data-content-editable-void="true"], .notion-table-view {padding-inline: 0px !important; } 

.notion-table-view, .notion-table-view *, * {
user-select: text !important;
}

:not(.layout.layout-side-peek) > #\:r3\:, div:has(> .notion-record-icon.notranslate)  {display: none !important;}

.notion-page-content {zoom: 0.9;}

div.content-editable-leaf-rtl[placeholder="Add a description…"],
[id=":r3:"].content-editable-leaf-rtl { display:none;} 



#main.notion-frame {min-width: 100vw;} 
.notion-peek-renderer {max-width:42vw;} 

.whenContentEditable .layout-full, .notion-selectable notion-page-block, div.layout-content.layout-content-with-divider, h1.content-editable-leaf-rtl {display: none !important;} 

/* 
div[data-col-index="2"], div[data-col-index="3"], div[data-col-index="4"] {display: none !important;}
 */
