.containerForWidget-2jSmS, .container-fluid.banner-slider, .jNTuve, .container-1-ZOL.containerForWidget-2jSmS { display: none !important;}

 .imageContainer-1MRiB, .tw-w-full banner-slider, #Embed, div[data-testid="chat-badge"], .imageContainer-1MRiB, .container-1-ZOL, .styles__WidgetLauncherContainer-sc-f7xurm-0 { display: none !important;}
div[name="checked_answer_script"] {background-color: green !important;}

span[name="answer_format"] {background-color: rgb(128, 182, 182) !important;}
div[name="question_paper"], span[name="question_paper"]  {background-color: rgb(162, 112, 148) !important;}
