#text-selection-tooltip {display: none !important;}

.upgradeBanner, .copyright, .pHeader_tabs, img[title="Vision-IAS Logo"], .navbar-brand > img , .container-fluid.banner-slider  { display:none !important;}
.container.pv-30, .pCol.pCol-wide.alpha {width: 100% !important;}
.js-video-container > iframe {height: 550px !important; margin-top:-60px !important;}
.mobileMenu_hamburger_icon, .mobileMenu_hamburger.js-hamburger-menu {z-index: 2147483647 !important;}
.pHeader, .mobileMenu, .mobileMenu_fallbackHeader, .mobileMenu_hamburger {height: 20px !important;}
.mobileMenu_hamburger {margin-top: -8px;}
.mdOverlay.js-main-sidebar-overlay.is-visible {opacity: 0.2 !important;}
.container.pv-30, .mobileMenu_fallbackHeader, html body .mobileMenu_fallbackHeader, 
.gw-nav.gw-nav-list > ul
{background-color:black  !important; color:white !important;}

 .ldg-sectionAvailableCourses_getStarted-red[name="unchecked_answer_script"] {background-color: lightblue !important;}
 .ldg-sectionAvailableCourses_getStarted-red[name="checked_answer_script"] {background-color: green !important;}

.ldg-sectionAvailableCourses_getStarted-red::hover [name="unchecked_answer_script"] {background-color: white !important;}
.container {width: 1620px !important;}

[x-show="isSideMenuOpen"] {
  transform: translateX(-115%);
  transition: transform 0.3s ease;
}

[x-show="isSideMenuOpen"]:hover {
  transform: translateX(-110px);
}