a { font-size: 24px !important; margin-top: -12px !important;}


@media (min-width: 1200px) {
    .container {
        width:1470px !important;
    }
}



header > .top_head, header > .mid_head {   display: none !important; }
/*
*/

.mid-head {display: none !important;}

#main-nav, #main-nav > nav {opacity: 0 !important; transition: opacity 0.2s ease;}
#main-nav:hover, #main-nav > nav:hover {opacity: 1 !important;}




.innner-page-main-about-us-content-right-part > .log_oo {display: none !important;}
.innner-page-main-about-us-content-right-part > #lg_g  {display: none !important;}
.navigation-bg {display: none !important;}
.section1{ display: none !important; }
.col-md-4 > a > img {display: none !important;}
#accessoriesEvent {display: none !important;} .social {display: none !important;}
.logos_scroller, footer, .col-md-3.s_padd, .col-md-6.s_padd {display: none !important;}
#ContentPlaceHolder1_lblheadeing, a[href="indexm.aspx"]  { display: none !important; }


#MinistryName{opacity: 0.8;}

h1, h2, h3 { font-style: unset; } 
h2, #Titleh2 {  text-decoration: underline !important;}



h2{font-weight: unset; font-size: 21px !important; padding:0; margin:0; }
h3{font-weight: unset; font-size: 21px !important; padding:0; margin:0;}




#PrDateTime { font-size: 1rem; padding:0; margin:0;}



 article{max-width:10px;}

img {
  max-width: 200px !important;
  height: auto !important;
  transition: max-width 0.4s ease;
}

img:focus,
img:hover {
  max-width: 1200px !important;
  height: auto !important;
}

#app, .twitter-tweet.twitter-tweet-rendered {  max-width:300px !important; height:auto !important;} 


#app, .twitter-tweet.twitter-tweet-rendered {  max-width:300px !important; height:auto !important;} 





.col-md-4.col-sm-4.col-xs-12 {width: 420px !important; }

body, article, div{ background-color:#ebe6de !important; color: black !important;} 



.row.pt20  {}


nav > .container {background-color: #808080 !important; }
.pb40 > .container {width: 1320px !important; }

.innner-page-main-about-us-content-right-part,
div.container {padding-left: 40px !important; padding-right: 40px !important; }



.col-md-8.col-sm-8.col-xs-12.topupContent {width: 900px !important; max-width: 92% !important;}


.innner-page-main-about-us-content-right-part{all: unset !important; width: 1300px !important; max-width: 90% !important;}


span {background-color: unset !important;}
p {font-size: 20px !important; color: #525050 !important;}
span {font-size: 20px !important; }
strong > em {all:unset; font-size: 20px !important;  background-color: #f1e7bd !important;}
strong  {all:unset; font-size: 20px !important;  background-color: #f1e7bd !important;}
strong > span {color: #000000 !important;}


p[style*="text-align:center"] > strong {
background-color: unset !important;
}



.language.res_pb5, .regional.res_pb5 {opacity: 0.4 !important; background-color: #ebe6de !important; }

.language .form-control, .regional .form-control {background-color: #b3aca1 !important; }





* {
  max-width: 98vw !important;
  box-sizing: border-box;
font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", Arial, sans-serif !important; 
}


.search_box { border: unset !important; font-size: 0px !important; opacity: 0.6; }
.search_box .form-control { border: unset !important;}
.breadcrumb {     padding: 1px;     margin-bottom: 10px;     list-style: none;     background-color: unset !important;     border-radius: 2px;  }  .breadcrumb > li > a{     font-size: 12px !important;  }
.ReleaseLang, #ReleaseId, #lblViews {font-size: 10px !important; opacity: 0.6;}
.ReleaseLang > a  {font-size: 10px !important; opacity: 0.6;}



